# The collections module
> [This module](https://docs.python.org/3.8/library/collections.html) implements specialized container datatypes providing alternatives to Pythonâ€™s general purpose built-in containers, dict, list, set, and tuple.

## [namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)](https://docs.python.org/3.8/library/collections.html#collections.namedtuple)

A subclass of tuple that allows you to index elements by their name along with their numerical index.

Parameters:
- typename: The name of the nammedtuple.
- field_names: The names of the fields.
- rename: Rename invalid names (even names already defined in python).
- defaults: Specify which fields have default parameters.
- module: Sets the `__module__` attribute to the specified value.

In [47]:
from collections import namedtuple

In [48]:
# we can name all the fields using a space separated string
Employee = namedtuple('Employee', 'first_name last_name job_title salary')

In [49]:
john = Employee('John', 'Doe', job_title='Developer', salary=100)

john.first_name, john[0], john.job_title, john[2]

('John', 'John', 'Developer', 'Developer')

In [50]:
# repr is already defined nicely for a namedtuple
john

Employee(first_name='John', last_name='Doe', job_title='Developer', salary=100)

In [51]:
# Fields can also be a string with commas separating the names
Point = namedtuple('Point', 'x, y')

p1 = Point(5, 11)
p1

Point(x=5, y=11)

In [52]:
# Fields can lastly be specified as a list
Point = namedtuple('Point', ['x', 'y'])

p2 = Point(4, 1)
p2

Point(x=4, y=1)

In [64]:
rename = namedtuple('Rename', 'abc def ghi abc', rename=True)
# rename def since that's a python keyword
# rename the second abc
stat = rename(5, 6, 7, 8)
stat

Rename(abc=5, _1=6, ghi=7, _3=8)

>In addition to the methods inherited from tuples, named tuples support three additional methods and two attributes. To prevent conflicts with field names, the method and attribute names start with an underscore.

### classmethod somenamedtuple._make(iterable)

Create a named tuple from a sequence / iterable.

In [13]:
p3 = Point._make([0, 0])
p3

Point(x=0, y=0)

### somenamedtuple._asdict()

Returns a dictionary that maps the fields to their values.

In [17]:
p3._asdict()

{'x': 0, 'y': 0}

### somenamedtuple._replace(**kwargs)

Create a new namedtuple with the fileds replaced with new values.

In [22]:
p4 = p3._replace(x=1)

p3, p4

(Point(x=0, y=0), Point(x=1, y=0))

In [25]:
p5 = p3._replace(x=5, y=2)
p5

Point(x=5, y=2)

### somenamedtuple._fields

Returns a tuple of a namedtuples fields as strings.

In [26]:
p1._fields

('x', 'y')

### somenamedtuple._field_defaults

Returns a dictionary mapping fields to their default values.

In [33]:

Point3D = namedtuple('Point3D', 'x y z', defaults=[0,1])

In [34]:
p = Point3D(4,5,6)
p

Point3D(x=4, y=5, z=6)

In [38]:
p._field_defaults

{'y': 0, 'z': 1}

## deque([iterable[, maxlen]])

A double ended queue (pronounced "deck") which supports efficient pushing and popping from either end. 

Can be initialzed with an iterable or nothing. If `maxlen` is not specified then a deque can grow to arbitrary length.

In [39]:
from collections import deque

In [46]:
a = deque('abcdefg')
a

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

###