# The collections module
> [This module](https://docs.python.org/3.8/library/collections.html) implements specialized container datatypes providing alternatives to Pythonâ€™s general purpose built-in containers, dict, list, set, and tuple.

## [namedtuple](https://docs.python.org/3.8/library/collections.html#collections.namedtuple)

Returns a subclass of tuple that allows you to index elements by name along with their numerical index.

In [3]:
from collections import namedtuple

In [5]:
# we can name all the fields using a space separated string
Employee = namedtuple('Employee', 'first_name last_name job_title salary')

In [16]:
john = Employee('John', 'Doe', job_title='Developer', salary=100)

john.first_name, john.job_title

('John', 'Developer')

In [17]:
# repr is already defined nicely for a namedtuple
john

Employee(first_name='John', last_name='Doe', job_title='Developer', salary=100)

In [18]:
# Fields can also be a string with commas separating the names
Point = namedtuple('Point', 'x, y')

p1 = Point(5, 11)
p1

Point(x=5, y=11)

In [19]:
# Fields can lastly be specified as a list
Point = namedtuple('Point', ['x', 'y'])

p2 = Point(4, 1)
p2

Point(x=4, y=1)